.main-container {
    max-width: 80vw;
    height: 110vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 10px;
    width: 76%;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .side-left {
    margin-right: 5px;
}

.side-left,
.side-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #131313;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 350px;
    height: 48px;
    margin-left: 10px;
    background-color: #242424;
    border-radius: 500px;
    border: 2px solid #fff;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    width: 400px;
    border: none;
    padding: 0px 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
}

.header__login .subscribe:hover {
    transform: scale(1.04);
    color: #fff;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

.header__login .login:hover {
    transform: scale(1.04);
}
