@media screen and (max-width: 980px) {
    .header__search {
        width: auto;
        display: none;
    }

    .header__login .subscribe {
        display: none;
    }

    .header__navigation {
        width: 100px;
        height: 50px;
    }

    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 520px) {
    .bar__essential {
        width: 342px;
    }

    .header__login .login {
        display: none;
    }

    .header__navigation .navigation {
        display: none;
    }

    .header__navigation {
        width: 100px;
        height: 50px;
    }
}

